@model IEnumerable<ContactList.Models.ContactViewModel>
@{
    ViewBag.Title = "Index";
}



<div id="example"></div>
Last edited location is: <div id="info"></div>
@*<table class="table table-striped">
    <tr>
        <th>
            ID
        </th>
        <th>
            Who
        </th>
        <th>
            Status
        </th>
        <th>
            Company
        </th>
        <th>
            Ind
        </th>
        <th>
            First
        </th>
        <th>
            Last
        </th>
        <th>
            Position
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
    </tr>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.Who
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    @item.Company
                </td>
                <td>
                    @item.Ind
                </td>
                <td>
                    @item.First
                </td>
                <td>
                    @item.Last
                </td>
                <td>
                    @item.Position
                </td>
                <td>
                    @item.Phone
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>*@

